flows-raspi-demo-sekolah.json
[{"id":"8d3c86f1.efd748","type":"tab","label":"Flow 1"},{"id":"e4afc203.b5287","type":"rpi-gpio out","z":"8d3c86f1.efd748","name":"","pin":"11","set":true,"level":"0","freq":"","out":"out","x":940,"y":180,"wires":[]},{"id":"70263175.efd89","type":"inject","z":"8d3c86f1.efd748","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":290,"y":160,"wires":[["e4afc203.b5287","db191ce6.cc542","5265fe48.9d7b"]]},{"id":"eebae42c.14d928","type":"inject","z":"8d3c86f1.efd748","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":290,"y":200,"wires":[["e4afc203.b5287","db191ce6.cc542","5265fe48.9d7b"]]},{"id":"db191ce6.cc542","type":"rpi-gpio out","z":"8d3c86f1.efd748","name":"","pin":"13","set":true,"level":"0","freq":"","out":"out","x":940,"y":240,"wires":[]},{"id":"5265fe48.9d7b","type":"rpi-gpio out","z":"8d3c86f1.efd748","name":"","pin":"15","set":true,"level":"0","freq":"","out":"out","x":940,"y":300,"wires":[]},{"id":"b1565151.87b5","type":"rpi-gpio out","z":"8d3c86f1.efd748","name":"","pin":"12","set":true,"level":"0","freq":"","out":"out","x":940,"y":360,"wires":[]},{"id":"7d062595.98db0c","type":"inject","z":"8d3c86f1.efd748","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"x":290,"y":360,"wires":[["b1565151.87b5"]]},{"id":"ff74432e.0befb","type":"inject","z":"8d3c86f1.efd748","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":290,"y":400,"wires":[["b1565151.87b5"]]},{"id":"1e701e8f.58d561","type":"switch","z":"8d3c86f1.efd748","name":"on_off_merah-kuning-hijau","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on_merah","vt":"str"},{"t":"eq","v":"off_merah","vt":"str"},{"t":"eq","v":"on_kuning","vt":"str"},{"t":"eq","v":"off_kuning","vt":"str"},{"t":"eq","v":"on_hijau","vt":"str"},{"t":"eq","v":"off_hijau","vt":"str"},{"t":"eq","v":"on_buzzer","vt":"str"},{"t":"eq","v":"off_buzzer","vt":"str"}],"checkall":"true","outputs":8,"x":260,"y":700,"wires":[["f7d5a47b.179b78"],["bea2327a.8f8cb"],["65b70c90.f9bb04"],["91d4aedc.52fff"],["c476b9f8.b84698"],["4d319a8b.53c114"],["d0a6ddb6.82a5b"],["291b1434.fbb4cc"]]},{"id":"f7d5a47b.179b78","type":"change","z":"8d3c86f1.efd748","name":"on_merah_to_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":520,"wires":[["e4afc203.b5287"]]},{"id":"bea2327a.8f8cb","type":"change","z":"8d3c86f1.efd748","name":"off_merah_to_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":560,"wires":[["e4afc203.b5287"]]},{"id":"5178728b.09888c","type":"function","z":"8d3c86f1.efd748","name":"","func":"msg.payload=msg.payload.payload;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":560,"wires":[["1e701e8f.58d561"]]},{"id":"65b70c90.f9bb04","type":"change","z":"8d3c86f1.efd748","name":"on_kuning_to_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":640,"wires":[["db191ce6.cc542"]]},{"id":"91d4aedc.52fff","type":"change","z":"8d3c86f1.efd748","name":"off_kuning_to_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":700,"wires":[["db191ce6.cc542"]]},{"id":"c476b9f8.b84698","type":"change","z":"8d3c86f1.efd748","name":"on_hijau_to_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":760,"wires":[["5265fe48.9d7b"]]},{"id":"4d319a8b.53c114","type":"change","z":"8d3c86f1.efd748","name":"off_hijau_to_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":820,"wires":[["5265fe48.9d7b"]]},{"id":"d0a6ddb6.82a5b","type":"change","z":"8d3c86f1.efd748","name":"on_buzzer_to_1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":880,"wires":[["b1565151.87b5"]]},{"id":"291b1434.fbb4cc","type":"change","z":"8d3c86f1.efd748","name":"off_buzzer_to_0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":940,"wires":[["b1565151.87b5"]]},{"id":"ebf31696.bc7268","type":"rpi-gpio in","z":"8d3c86f1.efd748","name":"button_on_off_kuning","pin":"18","intype":"up","debounce":"25","read":true,"x":260,"y":280,"wires":[["fe509965.57ff28"]]},{"id":"a75221de.c1cdf","type":"rpi-gpio in","z":"8d3c86f1.efd748","name":"button_on_off_merah","pin":"16","intype":"up","debounce":"25","read":true,"x":263,"y":244,"wires":[["f11458b3.e459b8"]]},{"id":"695bed33.288f84","type":"rpi-gpio in","z":"8d3c86f1.efd748","name":"button_on_off_hijau","pin":"22","intype":"up","debounce":"25","read":false,"x":250,"y":320,"wires":[["80be147a.e85948"]]},{"id":"f11458b3.e459b8","type":"switch","z":"8d3c86f1.efd748","name":"on_off_merah","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":500,"y":20,"wires":[["d14508a8.2fe668"],["5894be83.4ea4c"]]},{"id":"fe509965.57ff28","type":"switch","z":"8d3c86f1.efd748","name":"on_off_kuning","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":500,"y":60,"wires":[["911e6cbc.9d7d5"],["75d571dd.07337"]]},{"id":"80be147a.e85948","type":"switch","z":"8d3c86f1.efd748","name":"on_off_hijau","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":490,"y":100,"wires":[["4ef8c051.df299"],["d6002275.2704d"]]},{"id":"d14508a8.2fe668","type":"change","z":"8d3c86f1.efd748","name":"change 1 to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":20,"wires":[["e4afc203.b5287"]]},{"id":"911e6cbc.9d7d5","type":"change","z":"8d3c86f1.efd748","name":"change 1 to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":60,"wires":[["db191ce6.cc542"]]},{"id":"4ef8c051.df299","type":"change","z":"8d3c86f1.efd748","name":"change 1 to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":100,"wires":[["5265fe48.9d7b"]]},{"id":"5894be83.4ea4c","type":"change","z":"8d3c86f1.efd748","name":"change 0 to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":20,"wires":[["e4afc203.b5287"]]},{"id":"75d571dd.07337","type":"change","z":"8d3c86f1.efd748","name":"change 0 to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":60,"wires":[["db191ce6.cc542"]]},{"id":"d6002275.2704d","type":"change","z":"8d3c86f1.efd748","name":"change 0 to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":100,"wires":[["5265fe48.9d7b"]]},{"id":"52232b4e.12b1f4","type":"rpi-gpio in","z":"8d3c86f1.efd748","name":"","pin":"32","intype":"up","debounce":"25","read":true,"x":232.5,"y":455,"wires":[["5f5fb223.abf60c"]]},{"id":"5f5fb223.abf60c","type":"switch","z":"8d3c86f1.efd748","name":"on_off_buzzer","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":420,"y":455,"wires":[["5749c605.0b12d8"],["b8db0c05.68bbd"]]},{"id":"5749c605.0b12d8","type":"change","z":"8d3c86f1.efd748","name":"change 1 to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":602,"y":407,"wires":[["b1565151.87b5"]]},{"id":"b8db0c05.68bbd","type":"change","z":"8d3c86f1.efd748","name":"change 0 to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":603.25,"y":455,"wires":[["b1565151.87b5"]]},{"id":"52f4ab5c.512814","type":"rpi-srf","z":"8d3c86f1.efd748","name":"ultrasonic sensor","topic":"SRF","pulse":"2","pins":"38,40","x":887.7857437133789,"y":894.71426820755,"wires":[["c64b7858.308e98","188690f9.23fe4f"]]},{"id":"44497a9c.fc4b74","type":"switch","z":"8d3c86f1.efd748","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"num"},{"t":"gte","v":"20","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":932.7857284545898,"y":730.8571319580078,"wires":[["fe918079.fbcfe"],["3b054ea0.76b642"]]},{"id":"fe918079.fbcfe","type":"change","z":"8d3c86f1.efd748","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1129.0714416503906,"y":443.7143087387085,"wires":[["b1565151.87b5","5e3b8b98.662864"]]},{"id":"5e3b8b98.662864","type":"debug","z":"8d3c86f1.efd748","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410.0715103149414,"y":671.2857627868652,"wires":[]},{"id":"188690f9.23fe4f","type":"function","z":"8d3c86f1.efd748","name":"set_to_json","func":"var getpayload=Number(msg.payload);\nmsg.payload={\"a\" : getpayload};\nreturn msg;","outputs":1,"noerr":0,"x":1103.5712585449219,"y":874.2858963012695,"wires":[["1ef5ec67.fabef4"]]},{"id":"3b054ea0.76b642","type":"change","z":"8d3c86f1.efd748","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1122.142857142857,"y":354.2857142857143,"wires":[["b1565151.87b5"]]},{"id":"1ef5ec67.fabef4","type":"wiotp out","z":"8d3c86f1.efd748","authType":"d","qs":"true","qsDeviceId":"1ef5ec67.fabef4","deviceKey":"","deviceType":"","deviceId":"","event":"trigger","format":"json","qos":"","name":"Send_SensorData","x":1324.9999694824219,"y":881.4285554885864,"wires":[]},{"id":"c64b7858.308e98","type":"function","z":"8d3c86f1.efd748","name":"string to number","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":919.3551483154297,"y":813.2143936157227,"wires":[["44497a9c.fc4b74","5e3b8b98.662864"]]},{"id":"c32dfefb.e8c0d","type":"ibmiot in","z":"8d3c86f1.efd748","authentication":"quickstart","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1ef5ec67.fabef4","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":73.19600677490234,"y":486.84086990356445,"wires":[["5178728b.09888c"]]}]