flows-ibmcloud-demo-sekolah.txt
[{"id":"30ccfcbb.9daae4","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"54f270d7.6849f","type":"inject","z":"30ccfcbb.9daae4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":120,"wires":[["909992c9.7d771"]]},{"id":"909992c9.7d771","type":"function","z":"30ccfcbb.9daae4","name":"Hi Node-Red","func":"msg.payload=\"Hi, I am node-red\";\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["5986e9b7.50f068"]]},{"id":"5986e9b7.50f068","type":"debug","z":"30ccfcbb.9daae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":520,"y":120,"wires":[]},{"id":"c5b2d26a.576ee","type":"ibmiot out","z":"30ccfcbb.9daae4","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"b827eb9c8993","deviceType":"mypi2","eventCommandType":"trigger","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":680,"y":600,"wires":[]},{"id":"b706cb93.b2de28","type":"inject","z":"30ccfcbb.9daae4","name":"on_merah","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":420,"wires":[["46e0d153.9c86f"]]},{"id":"f6ec0e81.bcd78","type":"inject","z":"30ccfcbb.9daae4","name":"off_merah","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":480,"wires":[["85520677.d9db68"]]},{"id":"9a6d864.9ee3f78","type":"inject","z":"30ccfcbb.9daae4","name":"on_kuning","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":540,"wires":[["8582ea6f.484ac8"]]},{"id":"1ec49fe7.b10d5","type":"inject","z":"30ccfcbb.9daae4","name":"off_kuning","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":600,"wires":[["9ea15d3c.c814e"]]},{"id":"bf4134c1.df4f08","type":"debug","z":"30ccfcbb.9daae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":340,"wires":[]},{"id":"46e0d153.9c86f","type":"function","z":"30ccfcbb.9daae4","name":"json","func":"msg.payload = {\"payload\" : \"on_merah\"};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":420,"wires":[["c5b2d26a.576ee","bf4134c1.df4f08"]]},{"id":"85520677.d9db68","type":"function","z":"30ccfcbb.9daae4","name":"json","func":"msg.payload = {\"payload\" : \"off_merah\"};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":480,"wires":[["c5b2d26a.576ee"]]},{"id":"8582ea6f.484ac8","type":"function","z":"30ccfcbb.9daae4","name":"json","func":"msg.payload = {\"payload\" : \"on_kuning\"};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":540,"wires":[["c5b2d26a.576ee"]]},{"id":"9ea15d3c.c814e","type":"function","z":"30ccfcbb.9daae4","name":"json","func":"msg.payload = {\"payload\" : \"off_kuning\"};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":600,"wires":[["c5b2d26a.576ee"]]},{"id":"40af962d.56fcc8","type":"inject","z":"30ccfcbb.9daae4","name":"on_hijau","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":660,"wires":[["7c46db06.e08504"]]},{"id":"49297780.452ec8","type":"inject","z":"30ccfcbb.9daae4","name":"off_hijau","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":720,"wires":[["25be1022.7d8fd"]]},{"id":"7c46db06.e08504","type":"function","z":"30ccfcbb.9daae4","name":"json","func":"msg.payload = {\"payload\" : \"on_hijau\"};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":660,"wires":[["c5b2d26a.576ee"]]},{"id":"25be1022.7d8fd","type":"function","z":"30ccfcbb.9daae4","name":"json","func":"msg.payload = {\"payload\" : \"off_hijau\"};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":720,"wires":[["c5b2d26a.576ee"]]},{"id":"7507583.2a03fa8","type":"inject","z":"30ccfcbb.9daae4","name":"on_buzzer","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":780,"wires":[["df8ba34a.4d1eb"]]},{"id":"df8ba34a.4d1eb","type":"function","z":"30ccfcbb.9daae4","name":"json","func":"msg.payload = {\"payload\" : \"on_buzzer\"};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":780,"wires":[["c5b2d26a.576ee"]]},{"id":"c1defd26.c6cdc8","type":"function","z":"30ccfcbb.9daae4","name":"json","func":"msg.payload = {\"payload\" : \"off_buzzer\"};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":840,"wires":[["c5b2d26a.576ee"]]},{"id":"5e846ef5.9b3808","type":"inject","z":"30ccfcbb.9daae4","name":"off_buzzer","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":840,"wires":[["c1defd26.c6cdc8"]]},{"id":"165a2316.ed2115","type":"ui_switch","z":"30ccfcbb.9daae4","name":"SW_On_Off_Merah","label":"Switch Merah","tooltip":"","group":"b6f548d9.c380e8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"payload\" : \"on_merah\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"payload\" : \"off_merah\"}","offvalueType":"json","officon":"","offcolor":"","x":300,"y":960,"wires":[["c5b2d26a.576ee"]]},{"id":"53ed137e.d8531c","type":"ui_switch","z":"30ccfcbb.9daae4","name":"SW_On_Off_Kuning","label":"Switch Kuning","tooltip":"","group":"b6f548d9.c380e8","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"payload\" : \"on_kuning\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"payload\" : \"off_kuning\"}","offvalueType":"json","officon":"","offcolor":"","x":300,"y":1020,"wires":[["c5b2d26a.576ee"]]},{"id":"9a4121a2.c0f9e8","type":"ui_switch","z":"30ccfcbb.9daae4","name":"SW_On_Off_Hijau","label":"Switch Hijau","tooltip":"","group":"b6f548d9.c380e8","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"payload\" : \"on_hijau\"}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"{\"payload\" : \"off_hijau\"}","offvalueType":"json","officon":"","offcolor":"","x":290,"y":1080,"wires":[["c5b2d26a.576ee"]]},{"id":"a45d0d49.dcc69","type":"ui_button","z":"30ccfcbb.9daae4","name":"buzzer_on","group":"b6f548d9.c380e8","order":4,"width":0,"height":0,"passthru":false,"label":"Buzzer On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"payload\" : \"on_buzzer\"}","payloadType":"json","topic":"","x":300,"y":1180,"wires":[["c5b2d26a.576ee"]]},{"id":"b3415b22.755748","type":"ui_button","z":"30ccfcbb.9daae4","name":"buzzer_off","group":"b6f548d9.c380e8","order":5,"width":0,"height":0,"passthru":false,"label":"Buzzer Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"payload\" : \"off_buzzer\"}","payloadType":"json","topic":"","x":300,"y":1240,"wires":[["c5b2d26a.576ee"]]},{"id":"e72ccd8f.2fb27","type":"ui_chart","z":"30ccfcbb.9daae4","name":"","group":"b6f548d9.c380e8","order":5,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"300","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1050,"y":840,"wires":[[]]},{"id":"b7aa000a.f167e","type":"debug","z":"30ccfcbb.9daae4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":920,"wires":[]},{"id":"236107ee.770c88","type":"ibmiot in","z":"30ccfcbb.9daae4","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":630,"y":920,"wires":[["9658198a.b162c8","b1db0d10.bb455"]]},{"id":"9658198a.b162c8","type":"function","z":"30ccfcbb.9daae4","name":"retrieve data from Object","func":"msg.payload = String(msg.payload.d.a) + \" distance is detected\";\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":1000,"wires":[["e72ccd8f.2fb27","b7aa000a.f167e","a5a96de1.9664c"]]},{"id":"e8fafd71.a3542","type":"ui_audio","z":"30ccfcbb.9daae4","name":"","group":"b6f548d9.c380e8","voice":"en-US","always":false,"x":1020,"y":1060,"wires":[]},{"id":"a5a96de1.9664c","type":"ui_text_input","z":"30ccfcbb.9daae4","name":"","label":"","tooltip":"","group":"b6f548d9.c380e8","order":7,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1","topic":"","x":800,"y":1080,"wires":[["e8fafd71.a3542","3ebc5566.882eca"]]},{"id":"c9e91c4d.a9674","type":"inject","z":"30ccfcbb.9daae4","name":"","topic":"","payload":"hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":590,"y":1200,"wires":[["a5a96de1.9664c","3ebc5566.882eca"]]},{"id":"3ebc5566.882eca","type":"delay","z":"30ccfcbb.9daae4","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":820,"y":1200,"wires":[["4058962c.073888"]]},{"id":"4058962c.073888","type":"function","z":"30ccfcbb.9daae4","name":"reset text","func":"text=String(msg.payload);\nif (text!==\"\"){\n    msg.payload=\"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":980,"y":1200,"wires":[["a5a96de1.9664c"]]},{"id":"49d569d1.fbc6c8","type":"switch","z":"30ccfcbb.9daae4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"20","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":860,"wires":[["cb60fbcc.50f5d8"]]},{"id":"b1db0d10.bb455","type":"function","z":"30ccfcbb.9daae4","name":"json to buzzer on","func":"msg.payload = String(msg.payload.d.a);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":800,"wires":[["49d569d1.fbc6c8"]]},{"id":"cb60fbcc.50f5d8","type":"change","z":"30ccfcbb.9daae4","name":"On Buzzer","rules":[{"t":"set","p":"payload","pt":"msg","to":"Buzzer is turned on.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":860,"wires":[["a5a96de1.9664c"]]},{"id":"b6f548d9.c380e8","type":"ui_group","z":"","name":"Switch LED","tab":"3d1603be.d61904","disp":true,"width":"7","collapse":false},{"id":"3d1603be.d61904","type":"ui_tab","z":"","name":"Switches","icon":"dashboard","disabled":false,"hidden":false}]