noide-red-carplate-recog
[{"id":"d5f0486b.8fcce8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c9cece37.3a3da","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"65132163.310e8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"daa7ef00.a1a64","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"de15d9e8.335f88","type":"wiotp-credentials","z":"","name":"","org":"q6itzp","serverName":"","devType":"raspberrypiGW","devId":"b827eb3e0e73","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"93501956.3e9708","type":"sqlitedb","z":"","db":"/home/pi/carplate.db","mode":"RW"},{"id":"71132cb9.8675d4","type":"rpi-sensehatsim in","z":"d5f0486b.8fcce8","name":"","motion":false,"env":true,"stick":false,"x":204.5,"y":527,"wires":[[]]},{"id":"a3e4d301.0ee31","type":"delay","z":"d5f0486b.8fcce8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":434.5,"y":434,"wires":[["f9cbfb2e.2ffe38"]]},{"id":"f9cbfb2e.2ffe38","type":"function","z":"d5f0486b.8fcce8","name":"SenseHat Data","func":"msg.payload = {\"Data\" : {\"Environment\":msg.payload}};\nmsg.deviceType = \"senseHat\";\nmsg.deviceId =\"senb827eb3e0e73\";\nreturn msg;\n","outputs":1,"noerr":0,"x":637.5,"y":425,"wires":[["f527c187.8e8e6","94b453a9.00aad"]]},{"id":"f527c187.8e8e6","type":"wiotp out","z":"d5f0486b.8fcce8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"de15d9e8.335f88","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"Ibmiot-Gateway","x":844.5,"y":423,"wires":[]},{"id":"94b453a9.00aad","type":"debug","z":"d5f0486b.8fcce8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":827.5,"y":345,"wires":[]},{"id":"83900608.2d6298","type":"exec","z":"c9cece37.3a3da","command":"sudo curl -F 'upload=@/home/pi/Pictures/car-photo2.jpeg' -H 'Authorization: Token 4a9b7d631f0257eeb67909e418de5932e3e2a82a' https://platerecognizer.com/plate-reader/","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cURL POST","x":343,"y":288,"wires":[["1e432bbf.d1bc04"],[],[]]},{"id":"1e432bbf.d1bc04","type":"json","z":"c9cece37.3a3da","name":"JSON","property":"payload","action":"","pretty":false,"x":507.5,"y":293.5,"wires":[["d8e170b6.a1173","156a3fd5.51f23"]]},{"id":"a2f93ded.babc7","type":"camerapi-takephoto","z":"c9cece37.3a3da","filemode":"1","filename":"car-photo.jpeg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"","imageeffect":"none","agcwait":"","name":"Take Photo","x":194,"y":410,"wires":[[]]},{"id":"d8e170b6.a1173","type":"debug","z":"c9cece37.3a3da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":729,"y":53,"wires":[]},{"id":"5ce6fa79.144074","type":"inject","z":"c9cece37.3a3da","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":376.8333435058594,"y":179.55555725097656,"wires":[["83900608.2d6298"]]},{"id":"898eec2.0313a1","type":"function","z":"c9cece37.3a3da","name":"Identify Car Plate ","func":"var CarPlate;\nvar CarOwner;\nvar EmailAdd;\nvar CarPlateRecog;\n\n// If there is no match plat number from database, this node will produce\n// error because data to extract are not available\n// 1. Use switch node\n// 2. Change property to jsonata with value $count(payload)\n// 3. Add test rule == 0 --> 1 (at change node, set empty string to \n//    respective payload)\n// 4. Add test rule > 0 --> 2 (push directly to here)\n// Get data queried from database\nCarPlate=msg.payload[0].platnumber;\nCarOwner=msg.payload[0].carowner;\nEmailAdd=msg.payload[0].emailadd;\n\n//get recognized plat number\nCarPlateRecog=flow.get(\"platerecog\");\n\n//If there is an object deteced but no plate recognized\nif (CarPlateRecog===\"\"){\n    // For testing\n    msg.topic=\"No Plate Detected\";\n    msg.to=\"megatnorulazmi@gmail.com\";\n    msg.payload=\"Object detected but no plate number detected\"\n    // We may sent the image to email for checking purposes\n    \n    \n}\n// if recognized car plate matched with database\nelse if (CarPlate===CarPlateRecog){\n    // send welcome message to the car owner\n    \n    msg.payload=\"Greeting \" + CarOwner;\n    msg.to=EmailAdd;\n    msg.topic=\"Hi\";\n    \n}\n// if recognized cat plate is not in database means it is\n// an outsider/not matched with database\nelse {\n    // send message to residential authority memeber\n    \n    msg.payload=\"Unidentified Car Plate => \" + CarPlateRecog;\n    msg.to=\"megatnorulazmi@unikl.edu.my;megatnorulazmi@gmail.com\";\n    msg.topic=\"Alert\";\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":876.5,"y":273,"wires":[["ecd64a15.3ddaa8","a7fc64ee.96ecc8"]]},{"id":"ecd64a15.3ddaa8","type":"switch","z":"c9cece37.3a3da","name":"Trigger Action","property":"topic","propertyType":"msg","rules":[{"t":"neq","v":"\"\"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1078.8333129882812,"y":271.22222900390625,"wires":[["53bb0b67.6aebb4"]]},{"id":"53bb0b67.6aebb4","type":"e-mail","z":"c9cece37.3a3da","server":"smtp.mail.yahoo.com","port":"465","secure":true,"name":"","dname":"","x":1127.27783203125,"y":361.22222900390625,"wires":[]},{"id":"3c556959.a849e6","type":"exec","z":"65132163.310e8","command":"sudo curl -X POST \"https://api.openalpr.com/v2/recognize?secret_key=Your_Secret_Key&recognize_vehicle=1&country=eu&return_image=0&topn=10\" -F image=@/home/pi/Pictures/car-photo.jpeg","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cURL POST","x":771.111083984375,"y":235.5555419921875,"wires":[["788c4fcf.6d436"],[],[]]},{"id":"788c4fcf.6d436","type":"json","z":"65132163.310e8","name":"JSON","pretty":false,"x":922.611083984375,"y":251.0555419921875,"wires":[["f36007d.05aedf8","96820584.4c9188"]]},{"id":"f36007d.05aedf8","type":"function","z":"65132163.310e8","name":"Identify Car","func":"var carPlate = \"YOUR_CAR_PLATE\";\nvar carModel = \"YOUR_CAR_MODEL\";\n\n//No car or car plate found in photo\nif(msg.payload.results.length === 0) {\n    msg.payload=0;\n    global.set(\"garageOpen\",\"0\");  \n}\n//If car plate and car model match\nelse if(msg.payload.results[0].plate==carPlate && msg.payload.results[0].vehicle.make_model[0].name==carModel) {\n    msg.payload=1;\n    global.set(\"garageOpen\",\"1\");  \n}\n//If car plate and car model don't match\nelse {\n    msg.payload=0;   \n    global.set(\"garageOpen\",\"0\");  \n}\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":332.111083984375,"y":440.0555419921875,"wires":[["7dcb1e93.7261b"]]},{"id":"24c41ea3.27b582","type":"camerapi-takephoto","z":"65132163.310e8","filemode":"1","filename":"car-photo.jpeg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"Take Photo","x":605.111083984375,"y":236.5555419921875,"wires":[["3c556959.a849e6"]]},{"id":"7dcb1e93.7261b","type":"switch","z":"65132163.310e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":472.611083984375,"y":438.5555419921875,"wires":[["3bb50ffb.57933","1c0a5ae6.1a8a25"],["ce355f7b.2227c"]]},{"id":"96820584.4c9188","type":"debug","z":"65132163.310e8","name":"","active":true,"console":"false","complete":"false","x":1068.111083984375,"y":215.5555419921875,"wires":[]},{"id":"54baf193.6e3cd","type":"switch","z":"65132163.310e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":458.111083984375,"y":277.5555419921875,"wires":[["24c41ea3.27b582"],["d5c419c8.9f41c8"]]},{"id":"8fc3cebc.2d1d1","type":"function","z":"65132163.310e8","name":"Is Garage Open","func":"var garageOpen = global.get(\"garageOpen\"); \n\nif(garageOpen == \"1\"){\n    msg.payload = 1;\n}\nelse {\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":301.611083984375,"y":277.5555419921875,"wires":[["54baf193.6e3cd"]]},{"id":"3bb50ffb.57933","type":"rpi-gpio out","z":"65132163.310e8","name":"GPIO17","pin":"11","set":"","level":"0","freq":"","out":"out","x":959.611083984375,"y":387.5555419921875,"wires":[]},{"id":"1c0a5ae6.1a8a25","type":"delay","z":"65132163.310e8","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":650.111083984375,"y":446.5555419921875,"wires":[["4e5ac759.9b4db8"]]},{"id":"4e5ac759.9b4db8","type":"function","z":"65132163.310e8","name":"Close Garage","func":"msg.payload=0;   \nglobal.set(\"garageOpen\",\"0\"); \nreturn msg;\n\n","outputs":1,"noerr":0,"x":810.111083984375,"y":446.5555419921875,"wires":[["3bb50ffb.57933"]]},{"id":"d5c419c8.9f41c8","type":"debug","z":"65132163.310e8","name":"","active":true,"tosidebar":true,"console":false,"complete":"false","x":598.111083984375,"y":284.5555419921875,"wires":[]},{"id":"ce355f7b.2227c","type":"debug","z":"65132163.310e8","name":"","active":true,"console":"false","complete":"false","x":647.111083984375,"y":503.5555419921875,"wires":[]},{"id":"a7fc64ee.96ecc8","type":"debug","z":"c9cece37.3a3da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1030.5,"y":67,"wires":[]},{"id":"2d805b3e.c4d4e4","type":"sqlite","z":"c9cece37.3a3da","mydb":"93501956.3e9708","sqlquery":"msg.topic","sql":"","name":"carplatedatabase","x":453.5,"y":590,"wires":[["6f4cae49.7a583","4a84d94a.c584e8"]]},{"id":"d78c4b19.c02858","type":"inject","z":"c9cece37.3a3da","name":"VIEW RECORD","topic":"select * from carplateinfo;","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":175.5,"y":533,"wires":[["2d805b3e.c4d4e4"]]},{"id":"66d66fd3.8942e","type":"inject","z":"c9cece37.3a3da","name":"INSERT DATA","topic":"INSERT INTO carplateinfo(platnumber,carowner,emailadd) values('pen15','megatazm','megatnorulazmi@yahoo.com');","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":163.5,"y":596,"wires":[["2d805b3e.c4d4e4"]]},{"id":"63ff323.3292ccc","type":"inject","z":"c9cece37.3a3da","name":"DELETE RECORD","topic":"delete from carplateinfo where id=8","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":141.5,"y":667,"wires":[["2d805b3e.c4d4e4"]]},{"id":"156a3fd5.51f23","type":"function","z":"c9cece37.3a3da","name":"GetInfoFromCarPlate","func":"var carplaterecog=msg.payload.results[0].plate;\n\nmsg.topic=\"select * from carplateinfo where platnumber=\"+\"'\"+carplaterecog+\"';\";\n//memorize recognized platnumber to be used in next function node\nflow.set(\"platerecog\",carplaterecog);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":551.5,"y":410,"wires":[["2d805b3e.c4d4e4","362200f8.5598"]]},{"id":"362200f8.5598","type":"debug","z":"c9cece37.3a3da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":936.5,"y":404,"wires":[]},{"id":"4a84d94a.c584e8","type":"debug","z":"c9cece37.3a3da","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":627.5,"y":668,"wires":[]},{"id":"6f4cae49.7a583","type":"switch","z":"c9cece37.3a3da","name":"Handle empty query result","property":"$count(payload)","propertyType":"jsonata","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":690.5,"y":565,"wires":[["f5d7d0a3.8715a"],["898eec2.0313a1"]]},{"id":"f5d7d0a3.8715a","type":"change","z":"c9cece37.3a3da","name":"","rules":[{"t":"set","p":"payload[0].platnumber","pt":"msg","to":"\"\"","tot":"str"},{"t":"set","p":"payload[0].carowner","pt":"msg","to":"\"\"","tot":"str"},{"t":"set","p":"payload[0].emailadd","pt":"msg","to":"\"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":755.5,"y":186,"wires":[["898eec2.0313a1"]]},{"id":"f6bdd6df.c0ce48","type":"debug","z":"c9cece37.3a3da","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":491.5,"y":77,"wires":[]},{"id":"8ea8f3aa.29d82","type":"function","z":"c9cece37.3a3da","name":"Detected Alert","func":"if (msg.payload===1)\nmsg.payload=\"Motion Detected\";\n\nelse \nmsg.payload=\"There is no object\";\n\nreturn msg;","outputs":1,"noerr":0,"x":280.5,"y":49,"wires":[["f6bdd6df.c0ce48"]]},{"id":"a09c2ab3.d53278","type":"rpi-srf","z":"c9cece37.3a3da","name":"","topic":"SRF","pulse":"0.5","pins":"12,18","x":106.5,"y":91,"wires":[["f6bdd6df.c0ce48","c96d9b77.81b098"]]},{"id":"c96d9b77.81b098","type":"switch","z":"c9cece37.3a3da","name":"Trigger Camera","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":127.5,"y":170,"wires":[["a2f93ded.babc7","7228ab1f.118c84"]]},{"id":"b894a328.329b9","type":"rpi-gpio out","z":"c9cece37.3a3da","name":"","pin":"7","set":"","level":"0","freq":"","out":"out","x":222.5,"y":343,"wires":[]},{"id":"7228ab1f.118c84","type":"trigger","z":"c9cece37.3a3da","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":113.5,"y":233,"wires":[["b894a328.329b9"]]}]
